* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.comboscreen {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.comboscreen img {
  max-width: 100%;
  max-height: 100%;

}